<!DOCTYPE html>
<html ng-app="app">
<head>
  <meta charset='utf-8'>
  <title>PHPCRUD</title>
   <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet"  href="assets/styles/main.css">
<body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand text-uppercase" ui-sref="home">php  <span class="label label-success text-capitalize">CRUD</span></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navigation">
          <ul class="nav navbar-nav navbar-right">
              <li ng-if="!home.isAuthenticated()"><a ui-sref="login">Log in</a></li>
              <li ng-if="!home.isAuthenticated()"><button type="button" class="btn btn-success navbar-btn btn-circle" ui-sref="signup" >Sign up</button></li>
              <li ng-if="home.isAuthenticated() && currentUser.username">
          <a href="#">
          <img class="media-object img-rounded" ng-src="../../images/gulp-tiny.png" height="25" width="50">
          @{{currentUser.username}}
          </a>
        </li>
        <li ng-if="home.isAuthenticated()"><a href="#" ng-click="layout.logout()"><i class="fa fa-power-off"></i></a></li>
          </ul>
      </div>
    </div>
  </nav>

    <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
        <div ui-view>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.13/angular-ui-router.min.js"></script>

    <script type="text/javascript" src ="assets/js/app.js"></script>
    <!-- config -->
    <script type="text/javascript" src ="assets/js/config/config.module.js"></script>
    <script type="text/javascript" src ="assets/js/config/config.routes.js"></script>
    <!-- home -->
    <script type="text/javascript" src ="assets/js/home/home.module.js"></script>
    <script type="text/javascript" src ="assets/js/home/home.controller.js"></script>
    <!-- add -->
    <script type="text/javascript" src ="assets/js/add/add.module.js"></script>
    <script type="text/javascript" src ="assets/js/add/add.controller.js"></script>
    <!-- edit -->
    <script type="text/javascript" src ="assets/js/edit/edit.module.js"></script>
    <script type="text/javascript" src ="assets/js/edit/edit.controller.js"></script>
  </body>
</html>