<div ng-show="home.isAuthenticated ">
     <h2>Products</h2>
    <a class="btn btn-primary pull-right" ui-sref="add">Add New Product</a>
    <div id="no-more-tables">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Avaible Stocks</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="product in vm.products">
            <td>{{product.product_name}}</td>
            <td>{{product.product_description}}</td>
            <td>{{product.product_price}}</td>
            <td>{{product.product_stock}}</td>
            <td><a ui-sref="edit( { id : product.product_id} )" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-pencil"></i></a>
              <button ng-click="vm.deleteProduct(product.product_id)" class="btn btn-danger btn-sm"><i class="glyphicon glyphicon-trash"></i></button></td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
<div ng-show="!home.isAuthenticated">
  <div class="row lrj_row-sm-offset-3">
      <div class="col-xs-12 col-sm-6">
        <h1>Login
        <hr>
      </div>
    </div>

    <div class="row lrj_row-sm-offset-3">
      <div class="col-xs-12 col-sm-6">  
         <form name="loginForm" ng-submit="home.login()" novalidate>
          <div class="form-group has-feedback" ng-class="{ 'has-error': loginForm.email.$invalid && loginForm.email.$dirty }">
            <input server-error class="form-control input-lg" type="email" name="email" ng-model="home.user.email" placeholder="email" required autofocus>
            <span class="ion-at form-control-feedback"></span>
            <div class="help-block" ng-if="home.loginForm.email.$dirty" ng-messages="home.loginForm.email.$error">
              <div ng-message="server">{{login.errorMessage.email}}</div>
            </div>
          </div>

          <div class="form-group has-feedback" ng-class="{ 'has-error': loginForm.password.$invalid && loginForm.password.$dirty }">
            <input server-error class="form-control input-lg" type="password" name="password" ng-model="home.user.password" placeholder="Password" required>
            <span class="ion-key form-control-feedback"></span>
            <div class="help-block" ng-if="home.loginForm.password.$dirty" ng-messages="home.loginForm.password.$error">
              <div ng-message="required">Please enter your password</div>
              <div ng-message="server">{{login.errorMessage.password}}</div>
            </div>
            </div>

            <button type="submit" class="btn btn-block btn-success" ng-disabled="loginForm.$invalid">Log in</button>
          </form>
      </div>
      </div> 
</div>