<h2>Edit Product</h2>
<div class="row">
  <div class="col-md-6">
  <form novalidate name="EditForm" >
    <div class="form-group">
      <label for="username">Name:</label>
      <input class="form-control" type="text" ng-model="vm.product.product_name" required />
    </div>
    <div class="form-group">
      <label for="first_name">Description:</label>
      <textarea class="form-control" ng-model="vm.product.product_description"></textarea>
    </div>
    <div class="form-group">
      <label for="last_name">Price:</label>
      <input class="form-control" type="text" ng-model="vm.product.product_price" required />
    </div>
    <div class="form-group">
      <label for="address">Stocks:</label>
      <input class="form-control" type="text" ng-model="vm.product.product_stock" />
    </div>
    <button class="btn btn-primary" ng-disabled="EditForm.$invalid || EditForm.$pristine" id="add-new-btn" ng-click="vm.update(vm.product)">Update</button>
     <a ui-sref="home" class="btn">Cancel</a>
  </form>
</div>
</div>